<h1>welcome to the blog</h1>
<!-- post method send the data from the input end to the system -->
<form method="POST">
    <!-- hidden_tag is a form class which sets up the page source for the true FlaskForm() class -->
    {{form.hidden_tag()}}
    {{form.name.label}}{{form.name}}
    <br>
    {{form.state.label}}{{form.state}}
    <br>
    {{form.mood.label}}{{form.mood}}
    <br>
    {{form.food_choice.label}}{{form.food_choice}}
    <br>
    any other feedback?
    <br>
    {{form.feedback}}
    <br>
    {{form.submit()}}
</form>