{%extends 'base.html'%}
{%block content%}
<div class="jumbotron">
<p>find out if the entered username satisfied the requirements</p>
{% if signal %}
        <p>looks like the username entered did not meet the requirements :(</p>
        <ul>
        {% for remark in remarks%}
        <li>{{remark}}</li>
        {% endfor %}
        </ul>
        <a href="{{url_for('index')}}">go back and enter a proper one</a>
{%else%}
    <p>great...the username passed the requirements</p>


{% endif %}

    </div>
{%endblock%}