/* targeting styling to div elements by their class */
.first{
    color: greenyellow ;
    background-color: brown;
}

.second{
    color: black;
    background-color: gray;
}

.outsidepg{
    color: white;
    background-color: black;
}

/* if using id instead of class, then the below styling syntax should
be followed */

#pg2{
    color: red;
}