/* body{
    background: gray;
} */

body{
    background: url(file:///home/suhas/flask_bootcamp/photo-1606225457115-9b0de873c5db.webp);

    /* no-repeat is used so that the website does not repeat images in the background; comment the property and see for yourself */
    background-repeat: no-repeat;
}

div{
    background: rgb(31, 204, 175);
    border: rgb(117, 20, 141);
    /* border-width: thick; */
    border-width: 20px;
    border-style: solid;
}

/* use the above or below syntax style for styling div elements */

div{
    background: rgb(31, 34, 204);
    border: rgb(251, 255, 0) 15px dashed;
}

p{
    color: white ;
}

span{
    background-color: rgb(104, 56, 56);
}