{% if name %}
<p>the name you entered is {{name}}</p>
<p>update it in the form below:</p>
{% else %}
<p>please enter your name:</p>
{% endif %}

<!-- post method send the data from the input end to the system -->
<form method="POST">
    <!-- hidden_tag is a form class which sets up the page source for it -->
    {{form.hidden_tag()}}
    <!-- name.label displays the string we pass to the name atrribute in the infoform class; form.name gives an
        input field to type the name in -->
    {{form.name.label}} {{form.name()}}
    <!-- form.submit gives the submit button -->
    {{form.submit()}}
</form>